body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

body {
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 9%;
    display: flex;
    background: rgb(31,185,255);
    background: linear-gradient(135deg, rgba(31,185,255,1) 0%, rgba(94,157,255,1) 55%, rgba(159,127,255,1) 100%);
}

main {
    width: 100%;
    height: 91%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-image: url('../SVG/BackgroundField.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-img {
    width: 11%;
    height: auto;
    margin: auto;
}

.nav-link {
    margin:  0 0 0 40%;
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-link li {
    margin: auto;
    list-style-type: none;
}

.nav-link a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .4s;
    font-weight: lighter;
}

.nav-link a i {
    color: white;
    transition:  .4s;
}

.nav-link a:hover {
    color: #9946b3;
}

.nav-link a:hover i{
    color: #9946b3;
}

.nav-link span {
    color: white;
    font-size: 20px;
    transition: .4s;
    font-weight: lighter;
}

.box-container {
    width: 75%;
    min-height: 80%;
    max-height: 95%;
    display: grid;
    grid-column-gap: 2px;
    grid-template-columns: auto auto auto auto auto;
    position: relative;
    margin: auto;
}

.goal-box {
    width: 200px;
    height: 100px;
    border: 2px solid #23B8FF;
    padding: 20px 10px;
    margin:  10% 5% 10% 10%;
    background: #F0F0F0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 2px 2px 3px #cecece;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition: .4s;
}

.goal-box:nth-child(even) {
    border-color: #9982FF;
}

.goal-box p {
    margin: 0 0 0 0;
}

.goal-box p:first-child {
    margin: 0 0 10px 0;
}


.goal-box a {
    text-decoration: none;
    color: black;
    transition: .4s;
}

.goal-box:nth-child(even):hover {
    background: #cabbe9;
}

.goal-box:hover {
    box-shadow: 5px 5px 5px #cdcdcd;
    background: #a1eafb;
}

/* HIER KOMT DE MODAAAAAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 70%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* The Close Button */
.close, .delclose, .perclose {
  color: #aaa;
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover + .delclose:hover,
.close:focus + .delclose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*  EINDE MODAAAAAAAAL */

.right-container {
    position: relative;
    width: 15%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

#myBtn, #delBtn, #perBtn {
    width: 60%;
    height: 15%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: 15%;
    border: 2px solid white;
    color: white;
    background: #9982FF;
    font-size: 20px;
    box-shadow: #cdcdcd 2px 2px 2px;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

#myBtn:hover, #delBtn:hover, #perBtn:hover {
    background: #FFFFFF;
    color: #000000;
    border-color: #9982FF;
}

.modal-content h1{
    font-size: 40px;
}

.field-form {
    margin: auto;
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.field-form label {
    font-size: 25px;
    margin: 0 0 1% 0;
}

.field-form label:first-child {
    margin: 0 0 0 0;
}

.field-form input {
    width: 60%;
    font-size: 20px;
    margin: 0 0 2% 0;
    padding: 5px;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.field-form button{
    padding: 10px;
    width: 63%;
    height: 40px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    background: #3CACFF;
    border: none;
    outline: none;
    font-size: 20px;
    box-shadow: 2px 2px 2px grey;
    transition: .4s;
    cursor: pointer;
    margin-top: 5%;
}

.field-form button:hover {
    background-color: #9946b3;
    transform: scale(1.05);
}

.field-form input[type='radio'] {
    margin: 0;
    width: 20%;
    align-items: center;
    text-align: center;
}

#logout {
    width: auto;
    height: auto;
    display: flex;
}

#logout button {
    border: none;
    background: none;
    font-size: 20px;
    color: white;
    transition: .3s;
}

#logout button:hover {
    cursor: pointer;
    color: #9946b3;
}

.help-text {
    width: 90%;
    height: 55%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0 auto 0 auto;
    border: 2px solid white;
    color: white;
    background: #9982FF;
    font-size: 20px;
    box-shadow: #cdcdcd 2px 2px 2px;
    transition: .4s;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 3px solid #9982FF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.sel {
    width: 50%;
    height: 20%;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

/* DROPDOWN MENU FOR MESSAGES */

.dropbtn {
  background-color: #6C97FF;
  color: white;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: .4s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -50px;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow-y: scroll;
  max-height: 500px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  width: 200px;
  text-decoration: none;
  display: block;
  background-color: #fdfdfd;
}

.dropdown-content a:nth-child(even) {
    background-color: #cdcdcd;
}

.dropdown-content a:hover {background-color: #2DB3FF; color: white;}
.dropdown-content a:hover:nth-child(even) {background-color: #9B81FF;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #9B81FF;}


.dropbtn1 {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: 2px solid white;
    color: white;
    background: #9982FF;
    font-size: 20px;
    box-shadow: #cdcdcd 2px 2px 2px;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

.dropdown1 {
  position: relative;
  display: inline-block;
  width: 60%;
  height: 15%;
  margin: auto;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  right: 15px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.dropdown-content1 .order {
  color: black;
  padding: 12px 16px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  background-color: #cdcdcd;
  font-size: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.dropdown-content1 .order a {
    text-decoration: none;
}

.dropdown-content1 .order #myBtn, #perBtn {
    height: 75px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.dropdown-content1 a:nth-child(even) {
    background-color: #cdcdcd;
}

.dropdown1:hover .dropdown-content1 {display: flex;}

@media only screen and (max-width: 1700px) {
  .box-container {
      max-height: 50%;
      grid-column-gap: 2px;
      grid-template-columns: auto auto auto auto;
  }

  .nav-img {
      width: 11%;
      height: auto;
      margin: auto;
  }

  .nav-link {
      margin:  0 0 0 25%;
      width: 60%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .nav-link span i {
      font-size: 15px;
  }

  .nav-link a i {
      font-size: 15px;
  }

  .help-text {
      font-size: 20px;
      width: 80%;
  }

  #myBtn, #theBtn, .dropdown1 {
      width: 50%;
      height: 14%;
  }

  .right-container {
      position: relative;
      width: 20%;
      height: 80%;
  }

  .box-container {
      width: 80%;
      min-height: 80%;
      max-height: 95%;
  }
}

@media only screen and (max-width: 1300px) {
  .box-container {
      max-height: 50%;
      grid-column-gap: 2px;
      grid-template-columns: auto auto auto;
  }

  .nav-img {
      width: 13%;
      height: auto;
      margin: auto;
  }

  .nav-link {
      margin:  0 0 0 31%;
      width: 50%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .nav-link span i {
      font-size: 18px;
  }

  .nav-link a i {
      font-size: 18px;
  }

  .help-text {
      font-size: 18px;
      width: 80%;
  }

  #myBtn, #theBtn, .dropdown1 {
      width: 60%;
      height: 15%;
  }

  .right-container {
      position: relative;
      width: 20%;
      height: 80%;
  }

  .box-container {
      width: 80%;
      min-height: 80%;
      max-height: 95%;
}

@media only screen and (max-width: 1000px) {
  .box-container {
      max-height: 50%;
      grid-column-gap: 2px;
      grid-template-columns: auto auto;
  }

  .nav-img {
      width: 16%;
      height: auto;
      margin: auto;
  }

  .nav-link {
      margin:  0 0 0 15%;
      width: 60%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .nav-link span i {
      font-size: 15px;
  }

  .nav-link a i {
      font-size: 15px;
  }

  .help-text {
      font-size: 16px;
      width: 60%;
  }

  #myBtn, #theBtn, .dropdown1  {
      width: 60%;
      height: 15%;
  }

  .right-container {
      position: relative;
      width: 30%;
      height: 80%;
  }

  .box-container {
      width: 70%;
      min-height: 80%;
      max-height: 95%;
  }
}

@media only screen and (max-width: 700px) {
  .box-container {
      max-height: 50%;
      grid-column-gap: 2px;
      grid-template-columns: auto;
  }

  .nav-img {
      width: 26%;
      height: auto;
      margin: auto;
  }

  .nav-link {
      margin:  0 0 0 5%;
      width: 70%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .nav-link span i {
      font-size: 12px;
  }

  .nav-link a i {
      font-size: 12px;
  }

  .help-text {
      font-size: 15px;
      width: 80%;
  }

  #myBtn, #theBtn, .dropdown1  {
      width: 80%;
      height: 20%;
  }

  .right-container {
      position: relative;
      width: 30%;
      height: 80%;
  }

  .box-container {
      width: 70%;
      min-height: 80%;
      max-height: 95%;
  }
}
